.tasks-list {
	padding-top: 3rem;
	margin: 3 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* overflow-y: auto; */
}

.tasks-list__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

.date {
	font-size: 2rem;
	margin-bottom: 1rem;
}
