.signup-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 2rem;
  border-radius: 5px;
  background-color: var(--color-primary-light);
}

.signup-form__link {
  color: var(--color-text);
  text-decoration: none;
}

.signup-form__link:visited {
  text-decoration: none;
}

@media only screen and (max-width: 75em) {
  .signup-form {
    width: 40%;
  }
}

@media only screen and (max-width: 56.25em) {
  .signup-form {
    width: 55%;
  }

  @media only screen and (max-width: 37.5em) {
    .signup-form {
      width: 65%;
    }
  }
}
